<html lang="zh-CN">
    <head>
        <title><%=title%></title>
        <!-- 声明文档使用的字符编码 -->
        <meta charset='utf-8'>
        <!-- 优先使用 IE 最新版本和 Chrome -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <!-- 关键字 -->
        <meta name="keywords" content="">
        <!-- 简介 -->
        <meta name="description" content="">
        <!-- 作者 -->
        <meta name="author" content="Frank">
        <link rel="stylesheet" href="/views/common/reset.css">
        <link rel="stylesheet" href="/views/index/index.css">
        <link rel="stylesheet" href="/views/common/animation.css">
    </head>
    <body>
        <section class="essence">
            <div class="key">
                <h1><%=h2%></h1>
                <h2>Seeing the essence </h2>
            </div>
        </section>

        <script src="/views/common/base.js"></script>
        <script src="/views/libs/arttemplate.js"></script>
        <script src="/views/index/index.js"></script>
    </body>

</html>
